
%btn {
	display: inline-block;
	text-decoration: none;
	@media (max-width: 980px){ 
		display: inline;
	}
}

%indent {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin font-color($color:red,$size:12px){
	color: $color;
	font-size: $size;
}
@function font-line-padding($size){
	@return $size + 2px*2;
};

@mixin myBtn($color:red,$size:12px){
	@extend %btn;
	@include font-color($color,$size);
};

.btn-a {
	// @extend %btn;
	// @include font-color();
	@include myBtn();
	line-height: font-line-padding(12px);
}
.btn-b {
	// @extend %btn;
	// @include font-color(blue,16px);
	@include myBtn(blue,16px);
	line-height: font-line-padding(16px);

}

.btn-c {
	// @extend %btn;
	// @include font-color(gray,18px);
	@include myBtn(gray,18px);
	line-height: font-line-padding(18px);

}

@media (max-width: 980px){
	.btn-a {
		@include font-color();
		line-height: font-line-padding(12px);
	}
}

$ilandy-layout: horizotal;
$ilandy-space: 10px;
@import "ilandy/*.png";
// @include all-ilandy-sprites(true);

[class*="ilandy"] {
	@extend %indent;
}

.icon-fb {
	@extend %indent;
	@include ilandy-sprite(fb,true);
}
