@import "compass/reset";
@import "compass";
@import "breakpoint";
@import "susy";

$susy: (
	columns:24,
	gutters:1,
	gutter-position:split
);
#wrap{
	@include container();
}
main{
	*{
		text-align: center;
		height: 500px;
		line-height: 500px;
		border: 1px solid #222;
		@include box-sizing(border-box);
		margin: gutter() auto;
	}

	div {
		@include span(12);
	}
	aside {
		@include span(6);
	}
	.M {
		background: #f00;

	}
	.A1 {
		background: #0f0;
	}
	.A2 {
		background: #00f;

	}
	// div{
	// 	@include span(12);
	// }
	// aside{
	// 	@include span(6);
	// }
	// .M{
	// 	background-color: #F00;
	// }
	// .A1{
	// 	background-color: #0F0
	// }
	// .A2{
	// 	background-color: #00F;
	// }
}

.MA2A1 {
	.A1 {
		float: right;
	}
}
.A1A2M {
	.M {
		float: right;	
	}
}
.A2A1M {
	.A1, .M {
		float: right;
	}
}

.A1MA2 {
	.M {
		margin-left: span(6) + gutter()*3;
		margin-right: -100%;
	}
	.A2 {
		float: right;
	}
}
.A2MA1 {
	.M {
		margin-left: span(6) + gutter()*3;
		margin-right: -100%;
	}
	.A1 {
		float: right;
	}
}