@import "util";

#about, #class {
	@extend %block;
	padding: rhythm(2) 0;
}
#about {
	
	> div {
		@include span(24 nest);
		margin-top: rhythm(1);
		margin-bottom: rhythm(1);
		> img {
			@include span(12);
		}
		> section {
			@include span(12);
			> h3 {
				@include adjust-font-size-to(nth($font-list, 3) );
			}
			
		}
		&:nth-child(even) {
			> img {
				float: right;
			}
		}
	}

}

#class {
	> .content {
			@include span(6);
			margin-top: rhythm(1);
			margin-bottom: rhythm(1);
			background: $mainColor;
		h3 {
			font-size: adjust-font-size-to(nth($font-list, 2) );
			color: $lightColor;
			margin: rhythm(1)*2 auto;
			text-align: center;
		}
		div {
			@include span(6 of 6);
			background: $lightColor;
			margin-bottom: 	gutter(6);
			@include box-sizing(border-box);
			height: rhythm(10);
			overflow: hidden;
			border: rhythm(1) solid $lightColor;
		}
	}
}

@include breakpoint(max-width 980px) {
	#about {
	
	> div {
			> img {
				@include span(8);
			}
			> section {
				@include span(16);
			}
		}

	}
	#class {
		> .content {
				@include span(12);
			h3 {
			}
			div {
				@include span(12 of 12);

			}
		}
	}
};
@include breakpoint(max-width 720px) {
	#about {
	
		> div {
			> img {
				@include span(24);
			}
			> section {
				@include span(24);
			}
		}

	}
	#class {
		> .content {
				@include span(24);
			h3 {
			}
			div {
				@include span(24);

			}
		}
	}
};