// @import "compass/reset";
@import "breakpoint";

$pc: max-width 1200px;
$bigPad: max-width 980px;
$pad: max-width 768px;
$mobile: max-width 480px;

body {
	background: black;
	@include breakpoint($pc) {
			background: blue;
	}
	@include breakpoint($bigPad) {
			background: red;
	};
	@include breakpoint($pad) {
			background: green;
	};
	@include breakpoint($mobile) {
			background: yellow;
	};
}
h1 {
	color: black;
	@include breakpoint($pc) {
			color: blue;
	}
	@include breakpoint($bigPad) {
			color: red;
	};
	@include breakpoint($pad) {
			color: green;
	};
	@include breakpoint($mobile) {
			color: yellow;
	};
}

