.normal {
  font-size: 12px;
  color: black;
  line-height: 16px;
}

.red {
  font-size: 12px;
  color: red;
  line-height: 16px;
}

.blue {
  font-size: 14px;
  color: blue;
  line-height: 18px;
}

.green {
  font-size: 16px;
  color: green;
  line-height: 20px;
}
