@import "compass/reset";
@import "breakpoint";
@import 'susy';
$susy: (
	columns:2,
	gutters:1/3,
	gutter-position:split,
	debug:(image:show) 
);
@include border-box-sizing;
html,body{
	width:100%;
	height: 100%;
}
#wrap{
	min-height: 100%;
	@include container();
	>div{
		height: 200px;
		margin-bottom: 20px;
		background-color: black;
		&.grid-1{
			@include span(1);
		}
		&.grid-2{
			@include span(2);
		}
	}
}
@include susy-breakpoint(480px, 4){
	#wrap{
		@include container();
		>div{
			background-color: blue;
			&.grid-1{
				@include span(1);
			}
			&.grid-2{
				@include span(2);
			}
		}
	}
}
@include susy-breakpoint(768px, 6){
	#wrap{
		@include container();
		>div{
			background-color: red;
			&.grid-1{
				@include span(1);
			}
			&.grid-2{
				@include span(2);
			}
		}
	}
}
@include susy-breakpoint(980px, 12){
	#wrap{
		@include container();
		>div{
			background-color: green;
			&.grid-1{
				@include span(1);
			}
			&.grid-2{
				@include span(2);
			}
		}
	}
}