@import "compass/reset";
@import 'susy';
$susy: (
	gutter-position:split,
	debug:(image:show) 
);
@include border-box-sizing;
html,body{
	width:100%;
	height: 100%;
}
#wrap{
	min-height: 100%;
}
.inner{
	margin: 20px 0;
	@include container();
	border: 1px solid black;
	height:250px;
	@include break;
}
%span{
	height:250px;
	background:green;
}
.span1{
	@extend %span;
	@include span(1);
}
.span2{
	@extend %span;
	@include span(2);
}
.span3{
	@extend %span;
	@include span(3);
}