@import "compass/reset";
@import 'susy';
$susy: (
	gutter-position:split,
	debug:(image:show) 
);
@include border-box-sizing;
html,body{
	width:100%;
	height: 100%;
}
#wrap{
	min-height: 100%;
}
.inner {
	margin: 20px 0;
	@include container();
	border: 1px solid black;
	height: 250px;
}
%span {
	height: 250px;
	background: green;
}

@for $i from 1 through 4 { 
	.span#{$i} {
		@extend %span;
		@include span($i);
	}
}
@for $i from 1 through 3 { 
	.span#{$i}-right {
		@extend %span;
		@include span($i last);
	}
}
.span2-center {
	@extend %span;
	@include span(isolate 2 at 2);
}
.span1in3 {
	@extend %span;
	@include span(1 of 3);
	background: red;
}
.span3Outer {
	@extend %span;
	@include span(3 nest);
	background: blue;
}