@charset "UTF-8";
/* 使用巢狀結構產生樣式 */
#navi {
  width: 500px;
  list-style: none;
}
#navi li {
  float: left;
}
#navi li a {
  box-sizing: border-box;
  display: block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
}
#navi li a:hover {
  color: #fff;
  background-color: #ddd;
}
