@import "compass/reset";
@import "compass";
@import "susy";
$susy: (
 columns:12,
 gutters:1/3,
 gutter-position:split,
 debug:(image:show) 
);
@include border-box-sizing;
#wrap {
  @include container();
  min-width: 960px;
  background: #f4f4f4;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    @include span($i);
    text-align: center;
    height: span($i);
    line-height: span($i);
    background: rgba(black,.5);
    color: lighten(black,20%)
  }
};